<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Quiz</title>
	<link rel='stylesheet' href='/stylesheets/style.css' />	
</head>
<body>
	<nav>
		<a href="/">Inicio</a>
		<a href="/quizzes">Preguntas</a>
		<a href="/author">Autor</a>
		<a href="/users">Usuarios</a>
		<% if(session.user && session.user.isAdmin) { %><a href="/comments">Ver todos los comentarios</a><% } %>
		<div class="right">
			<% if(!session.user) { %>
				<a href="/users/new">Registrarse</a>
				<a href="/session">Login</a>
			<% } else { %>
				<p id="user"><%= session.user.username %></p>
				<a href="/users/<%= session.user.id %>">Perfil</a>
				<a href="/session?_method=DELETE">Logout</a>
			<% } %>
		</div>
		<div class="clear"></div>
	</nav>	

	<header>
		<h1 id="titulo">Quiz: el juego de las preguntas</h1>			
	</header>	

	<section id="flash">
		<% if(messages.info) { %>
			<article id="flashinfo">
				<div>
					<h3>Información de interés:</h3>
					<ul>
						<% for(var i in messages.info) { %>
							<li><%= messages.info[i] %></li>
						<% } %>
					</ul>
				</div>
			</article>
		<% } %>

		<% if(messages.success) { %>
			<article id="flashsuccess">
				<div>
					<h3>Tareas realizadas con éxito:</h3>
					<ul>
						<% for(var i in messages.success) { %>
							<li><%= messages.success[i] %></li>
						<% } %>
					</ul>
				</div>
			</article>
		<% } %>

		<% if(messages.error) { %>
			<article id="flasherror">
				<div>
					<h3>Errores encontrados:</h3>
					<ul>
						<% for(var i in messages.error) { %>
							<li><%= messages.error[i] %></li>
						<% } %>
					</ul>
				</div>
			</article>
		<% } %>
	</section>

	<section class="main">
		<div><%- body %></div>
	</section>

	<footer>
		<a href="http://es.wikipedia.org/wiki/Quiz">¿Qué es un Quiz?</a>
		<a href="https://github.com/carlosmg95/Quiz">Proyecto en GitHub</a>
	</footer>
</body>
</html>
